# R history files
.Rhistory
.Rapp.history

# Example/temp code
Temp.R
temp.R
tmp.R

# RStudio files
.Rproj.user

# Mac OS X Spotlight
.DS_Store

# auto-produced files
*.html
*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
